<%# views/404_layout.ejs %>
<!DOCTYPE html>
<html lang="zxx" class="js">
<html>
<head>
  <meta charset="UTF-8">
  <title>404 | Secure URL Shortener</title>
    <meta charset="utf-8">
    <meta name="author" content="Electronero">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Electronero">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Site Title  -->
    <title>Electronero</title>
    <!-- Custom styles from etx dev team -->
    <link rel="stylesheet" href="/assets/css/404.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body>

    <div class="container">

       <%- content %>
    </div><!-- /.container -->

</body>
</html>
