<%# views/blog.ejs %>
 
<% extend('layout') %>
 
		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
						<img src="images/cover-bounty.jpg" alt="blog-large">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="#">29 APRIL, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="blog-single-light.html">The ETNX Bounty Program Has Started!</a></h3>
						<p>The Electronero Referral Bounty Competition has started! End on 05/30/2018 at  23:59 GMT</p>
						<p>To join click on this link and follow the steps in order to get free ETNX! </p>
						<p>Instructions:</p>
						<p>Step 1</p>
						<p>Step 2</p>
						<p>Step 3</p>
						<p>Step 4</p>
						<p>Step 5</p>

										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
