<%# views/blog.ejs %>

<% extend('blog_layout') %>

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
						</br>
						</br>
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">


						<!-- newer posts above -->
						<!-- older posts below -->
						
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/exchange-announcement-may-25-2018">25 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/exchange-announcement-may-25-2018">The Electronero Launch & Testnet Recap</a></h3>
						<p>First of all, the Electronero team would like to thank all parties involved in the testnet including our mining partners, mobile mining testers and the rest of the community. Thanks to your support we are now preparing for our mainnet launch and would like to express our gratitude in the beginning of this adventure.
On May 11th, Electronero developers successfully rolled out the ETNX testnet fabric. A pure display of the new technology and advancements Electronero has to offer to the community. Since inception, the Electronero developers have been working with ETNX Pool Operators and Mining Advisors who have been contributing efforts to support the cause of the upcoming hard fork. 
As a priority, Electronero developers have been monitoring the difficulty adjustment algorithm, or DAA for short, and verifying that future blocks are generated on target.
The Electronero (ETNX) hard fork and blockchain snapshot is set to occur at block 307,000 (Approximately May 29th). After block 307,000 is mined the debut of the Electronero Mainnet network, mining pools, and releasing the wallets and source code so that you can claim your ETNX if you own ETN.
For all of you who have moved funds to a paper wallet, please make sure that you WAIT until block 307,001 when the snapshot is taken to move your coins back to your web/mobile wallet; you will then be able to download our open-source wallet and claim your ETNX knowing that your ETN coins are safely stored in another location. Our snapshot will have “memory” of your coins in that paper wallet at block 307,000.
For those of you who have NOT moved funds to a paper wallet, you will be able to get your ETNX on Altex as they will be supporting the fork and you will get 1 ETNX for each ETN that you own.
Altex - fast, simple and stable cryptocurrency exchange.</p>

<p>Read this official Electronero update on Medium <a href="https://medium.com/@electronero/the-electronero-launch-testnet-recap-f280ea04297b"><img width="20%" height="20%" src="https://image.ibb.co/co6X1T/medium.png" /></a></p>

<p>Altex is designed to be fast, simple and stable. You have never traded your Altcoins faster!</p>
<a href="https://altex.exchange">altex.exchange</a>
<p>We are in the process of adding more exchanges, and we will be keeping all of you posted as we go and get more confirmations, we will NOT be disclosing pending applications or partnerships in progress to avoid hype as we want the community to only be faced with FACTS, not future potential outcomes.</p>
<p>This is only the beginning of an amazing adventure towards decentralization and mass adoption!</p>

<p>The Electronero Team.</p>
						<!-- newer posts above -->
						<!-- older posts below -->

						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/camel-emissions-may-20-2018">20 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/camel-emissions-may-20-2018">Electronero Implemented Camel Emissions from Sumokoin on ETNX blockchain post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development.</p>
						<p>Electronero developers have taken into consideration not only the latest techonlogy from Monero updates when coding the final versions of Electronero before the main net launch. ETNX is was developed with multiple new features and combined aspects from several known cryptonotes. With inspiration from Sumokoin...Electronero implemented the Camel Emissions, which consist of steady block rewards, increasing every 6 months until peaking on year 4, and decreasing every 6 months thereafter until reaching tail emission state. </p>

						<!-- newer posts above -->
						<!-- older posts below -->

						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/lwma-difficulty-adjustment-algorithim-may-16-2018">16 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/lwma-difficulty-adjustment-algorithim-may-16-2018">Electronero Implemented LWMA difficulty algo from Zawy : LWMA on ETNX blockchain post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development. </p>
            <p>Electronero developer implemented Zawy’s LWMA Difficulty Adjustment Algorithm to protect the blockchain against hash attacks and which saves us from future blockchain freeze. 
ZAWY is a known blockchain theorist and mathemetician. Electronero developers followed along closely with ZAWY and having key talks with ZAWY at certain times making changes to the consensus under his advisement <a href="https://github.com/zawy12/difficulty-algorithms/issues/3">SOURCE</a> All the while learning more about the Difficulty Adjustment Algorithim, aka DAA. The Electronero DAA is adjusted to the lower weighted harmonic means algo. "This is the best algorithm because it has the fastest response for a given amount of stability." - ZAWY 
</p>
						<!-- newer posts above -->
						<!-- older posts below -->

						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/bulletproof-rct-may-15-2018">15 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/bulletproof-rct-may-15-2018">Electronero Activated Bulletproof RCT's, ETNX blockchain 25x faster post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development. In preliminary testing during our very first builds of Electronero. We were able to notice that the transcations validations were very slow on the Electroneum blockchain. As a result of this discovery we focused our efforts on a solution. 

As response to the low transaction speed and delay of transaction validation in the TX pool. Electronero activated what is known as BulletProof Ring Confidential Transactions, BulletProof RCT, for short. 

"It actually turns out that with the newest results Bulletproofs are quite fast to verify. Especially if you verify many at once. 
'BPs' are roughly ~25x faster than the previous range proof for a single output if you verify many at once." 
See Section 6.3 https://eprint.iacr.org/2017/1066.pdf 

Now with BulletProof RCT active we can expect faster transactions, less memory and storage requirements per block moving forward. This means faster transactions and more transactions per block. Electronero rolls out Main Net with BulletProof RCT active and enabled.</p>

						<!-- newer posts above -->
						<!-- older posts below -->

						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/testnet-may-13-2018">13 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/testnet-may-13-2018">Electronero Testnet Successful Hard Forks | Testnet a Success!</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development.</p>
            <p>Test net for ETNX has started at block 280,000 and with that our developers started testing multiple versions of our block difficulty adjustment algorithm (D.A.A.) which we will be using for the main net. So far the testing has been conclusive and our developers are confident that ETNX is on the right track. Block difficulty adjustment is a vital part of the blockchain technology as it decides how hard certain blocks are to mine which directly affects transactions.</p>

						<!-- newer posts above -->
						<!-- older posts below -->

						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/bounty-app-may-10-2018">10 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/bounty-app-may-10-2018">Electronero Bounty App | Earn ETNX on the Blockchain via Bounty App</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development. </p>
            <p>Our bounty program started May 7th as part of our platform for the community to interact and earn ETNX, with over 8000 members so far we couldn't be happier with the support from the community. Please be advised that more bounties will be added in the future for you to interact with and earn more ETNX and stay tuned for those updates!</p>

						<!-- newer posts above -->
						<!-- older posts below -->
						
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/sweep_unmixable-may-07-2018">7 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/sweep_unmixable-may-07-2018">Electronero updated sweep_unmixable function, sweep_unmixable is for mixing of TX v1 & v2 blocks on ETNX blockchain post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development. During testnet we found that v1 transactions produced unmixable outputs and this was causing a riff between some of the test ETNX funds from v1 before the test fork to v7 and subsequently v8. We were able to repair the sweep_unmixable function in order to unlock the unmixable ETNX  and allow for a ring size 1 transaction. What this means is that while preserving ring signatures and Bulletproof RCT we were able to "sweep" unmixable ETNX and this is the common practice we expect many wallets containing v1 outputs may have to adapt as we roll out main net on block 307,000.</p>
						<p>After the Hard Fork on block 307,000 when you restore your wallet and claim your outputs on the Electronero blockchain. Your ETN was on v1 and ETNX is on say v7, you may have to utilize the updated sweep_unmixable function. In short sweep_unmixable works by "mixing up your unmixable outputs". 
						To understand how this all works. First, let's retain an explanation by JollyMort's and below is an excerpt of his outlook on unmixable outputs <a href="https://monero.stackexchange.com/a/3517">(source)</a> and why they're 'unmixable' in the first place.</p>

						<div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>Your balance is made up of outputs of various amounts which you've received in the past. 
Every time you send, some of those get combined together until you reach some amount, which is then sent to the destination, and some change returned to your wallet.

Think of outputs as bills: you received a bill of 40 and 100 in the past, and now you want to pay something worth 120. Your wallet 'burns' the 100+40 bills, creates new bills of 120 and 20, sends the 120 to your recipient and returns the 20 to yourself and you're left with the bill of 20, plus whatever else you already had in the wallet. 
In Electronero, just like it's parent Monero, these 'bills' can now be created with any amount (pre-RCT, they had to be round numbers like 10, 1, 0.1, 0.01 ...).
</code></pre></div></div>

						<p>Thing is, like Monero, Electronero combines multiple outputs in a ring-signature, effectively hiding the one actually getting spent among other outputs found in the ring signature. 
						Now, with RCT, you can pick any output for the ring signature because all the amounts are hidden. 
						Before, you had to choose other outputs of the exact same value. This required splitting any amount into multiple outputs 
						with common denominations, but there were always some of them which were unique, like 0.000006839355. There's simply 
						no other like it, so there are no other outputs among which it could hide, and it would have to get spent alone. It's a special 
						case which doesn't benefit from applying ring signatures and thus the special treatment. Because of this, you'd only want to use 
						it once to join it with other outputs. The sweep_unmixable command is there to get rid of those special outputs once and for all 
						(if you actually have them in your wallet, that is).</p>
						
						<!-- newer posts above -->
						<!-- older posts below -->
						
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="/">3 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="/">ETNX platform announces launch of the ASIC Resistant Cryptonight_v7 mining proof of work algorithm on the ETNX Testnet on May 11, 2018.</a></h3>
						<p>Electronero (ETNX) had a successful launch in April 2018 raising the attention of tens of thousands in the crypto market and it has been remarked that ETNX offers ASIC resistance along with many new features brought upon by inspiration from other CryptoNote's to the cryptocurrency ecosystem.</p>
						<p>The ETNX platform is largely credited with preserving the privacy features native to the core by activating Bulletproof RCT's and enabling Ring Signatures default 12 and max 100. ETNX network implemented Camel Emissions from Sumokoin, and a new difficulty adjustment algorithm dubbed "LWMA" with inspiration from mathematician and blockchain theorist Zawy.</p>
						<p>"It actually turns out that with the newest results Bulletproofs are quite fast to verify. Especially if you verify many at once. BPs are roughly 25x faster than the previous range proof for a single output if you verify many at once." See Section 6.3 <a href="https://eprint.iacr.org/2017/1066.pdf">https://eprint.iacr.org/2017/1066.pdf</a></p>
						<p>Most importantly ETNX kept all original ETN coins intact ETN 1:1 ETNX, Electronero developers have confirmed Windows and OSX GUI Wallets, as well as OSX, Linux, and Windows releases of the ETNX blockchain. Soon with the addition of smart contracts, ETNX is seeking to provide more value to the 14, 600,000 tokens created by ETN users, while also attempting to maintain privacy for cryptocurrency transactions in the future.</p>
						<p>Since the launch and announcement of the project we have been receiving a tremendous amount of support from all over the world and didn’t expect such a great response. The demand for a truly decentralized, tech focused Electroneum fork is now stronger than ever and we would like to thank everyone who has joined the Electronero project and that has supported us. It brings us great pride to announce our public launch. We hope this gives everyone an opportunity to claim their ETNX and join the project.</p>
						<p><b><u>FORK HEIGHT:</u> 307,000</p></b>
						<p><b><u>SNAPSHOT DATE:</u> Approx. 29/05/2018</p></b>
						<p><b><u>TESTNET:</u> 05/11/2018</p></b>
						</br>
						</br>
						
						
										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
