<%# views/blog.ejs %>

<% extend('blog_layout') %>

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="/">3 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="/">ETNX platform announces launch of the ASIC Resistant Cryptonight_v7 mining proof of work algorithm on the ETNX Testnet on May 11, 2018.</a></h3>
						<p>Electronero (ETNX) had a successful launch in April 2018 raising the attention of tens of thousands in the crypto market and it has been remarked that ETNX offers ASIC resistance along with many new features brought upon by inspiration from other CryptoNote's to the cryptocurrency ecosystem.</p>
						<p>The ETNX platform is largely credited with preserving the privacy features native to the core by activating Bulletproof RCT's and enabling Ring Signatures default 12 and max 100. ETNX network implemented Camel Emissions from Sumokoin, and a new difficulty adjustment algorithm dubbed "LWMA" with inspiration from mathematician and blockchain theorist Zawy.</p>
						<p>"It actually turns out that with the newest results Bulletproofs are quite fast to verify. Especially if you verify many at once. BPs are roughly 25x faster than the previous range proof for a single output if you verify many at once." See Section 6.3 <a href="https://eprint.iacr.org/2017/1066.pdf">https://eprint.iacr.org/2017/1066.pdf</a></p>
						<p>Most importantly ETNX kept all original ETN coins intact ETN 1:1 ETNX, Electronero developers have confirmed Windows and OSX GUI Wallets, as well as OSX, Linux, and Windows releases of the ETNX blockchain. Soon with the addition of smart contracts, ETNX is seeking to provide more value to the 14, 600,000 tokens created by ETN users, while also attempting to maintain privacy for cryptocurrency transactions in the future.</p>
						<p>Since the launch and announcement of the project we have been receiving a tremendous amount of support from all over the world and didn’t expect such a great response. The demand for a truly decentralized, tech focused Electroneum fork is now stronger than ever and we would like to thank everyone who has joined the Electronero project and that has supported us. It brings us great pride to announce our public launch. We hope this gives everyone an opportunity to claim their ETNX and join the project.</p>
						<p><b><u>FORK HEIGHT:</u> 307,000</p></b>
						<p><b><u>SNAPSHOT DATE:</u> Approx. 29/05/2018</p></b>
						<p><b><u>TESTNET:</u> 05/11/2018</p></b>

										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
