<%# views/docs.ejs %>

<% extend('blog_layout') %>

	<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">DOCS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->
	
	
	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
  <h2 align="center">User Guides</h2>
  <div class="panel-group row">
  <div class="col-lg-3 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>General</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/offline-backup">How to make an offline backup</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/vps-electronero-node">How to run a node on VPS</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/import-electronero-blockchain">Importing the Electronero blockchain</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/electronero-tools">Electronero Tools</a></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>Mining</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/pool-mining-electronero-with-xmr-stak">How to mine on a pool with xmr-stak-cpu</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/solo-mining-electronero">How to solo mine with the GUI</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/docker-xmrig-electronero">Mining with Docker and XMRig</a></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>Recovery</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/restore-wallet-unlock-funds">How to fix locked up funds</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/restore-wallet-access-address">How to restore your account</a></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>Wallets</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/cli-wallet">CLI wallet/daemon isolation with Qubes + Whonix</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/getting-started-with-electronero-cli">Getting started with the CLI wallet</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/connect-to-remote-node">How to connect to a remote node within GUI wallet</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/view-only-wallet">How to make a view-only wallet</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/prove-spending-on-the-blockchain">How to prove payment</a></div>
      <div class="panel-body" align="center"><a href="/user-guides/restore-wallet-from-keys">Restoring wallet from keys</a></div>
    </div>
  </div>
 </div>  


<h2 align="center">Developer Guides</h2>
<div class="panel-group row">
  <div class="col-lg-6 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>Daemon RPC Documentation</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/daemon-rpc-documentation">Daemon RPC API Documentation</a></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-1">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><b>Wallet RPC Documentation</b></div>
      <div class="panel-body" align="center"><a href="/user-guides/wallet-rpc-documentation">Wallet RPC API Documentation</a></div>
    </div>
  </div>
</div><!-- .row -->
</div><!-- section -->
