<%# views/hardfork.ejs %>
<!-- Run a blank layout, so as not to use the hero presentation -->
<% extend('layouts/blank_layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>
<!-- row --><div class="row text-center align-items-center">
                    <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                    <h2 class="section-title">Upcoming Hark Fork
                            <span>ETNXP</span>
                        </h2>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                            <a target="_blank" href="https://etnxp.hashfactory.online"><img width="50%" height="50%" src="/images/ETNXP-electronero-pulse-gaming.png" alt="chart"></a>
                        </br>
                        <span class="section-title">---------------------</span>
                        </div>
                        </br>
                        
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <a target="_blank" href="https://etnx.hashfactory.online"><img width="50%" height="50%" src="/images/nero-logo.png" alt="chart"></a>
                        </br>
                        <span class="section-title">---------------------</span>
                        </div>
                        </br>
                  </div><!-- .row  -->
<!-- row -->
           </br>
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">HARD FORK
                            <!--<span>LAUNCH</span>-->
                        </h2>
                        <p>Public ETNX testnet launched on May 11, 2018 (approximate block height 280,000 of ETN). The ETN/ETNX hard fork happened at height 307,000 and was followed by a public release of wallets, mining pools and exchanges listings, electronero community provided with an easy-to-use mobile integration. Getting ready for the next hard fork ETNX/ETNXP.</p> 
                        <p>Electronero core developers will begin by updating to fix ETNX supply, rewards, network fees. As a result of a world wide caucus held between the electronero core team. 19 members from different parts of the globe were selected as team after participating in volunteer contributions to the Electronero community. The internal reorganization brings with it some discussions and many votes were cast. The votes were split and two coins will be formed from the upcThe votes were split and two coins will be formed from the upcoming hard fork, which we will announce on BitcoinTalk at or around block 407,001. ETNX will survive a new birth.  ETNX will survive a new birth. ETNXP, a segregated alternative and mineable token with chain specific parameters and a common goal will be formed on the Electronero blockchain. The snapshot will take place on block 500,000 estimated date of arrival for the hard fork is October 30th, 2018. Meanwhile Electronero first Smart Node contract will be deployed soon to the mobile application, bare with us during development on that as we are rushing new features to market. Electronero core team will maintain both coins. ETNX coin will focus it's usages to Smart Contracts and Mobile development, Game and Applications, while the new Electronero smart node token ETNXP will be dedicated for Gaming, and Bounty. Any participating ETNX will be transferrable to ETNXP in 1:1 ratio for ETNX coins held in Electronero mobile wallet application or on TradeOgre.com ETNX wallets. We have support from Excoincial and TradeOgre at this time.  More details soon followed by an official announcement. Stay tuned!</p>
                        <p> Download Electronero <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero&rdid=com.notrait.electronero">App now on Google Play</a></p>
                    </div>
                </div>
            </div><!-- row -->
