<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 offset-md-1">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-a.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 order-md-first order-last">
                    <div class="text-block">
                        <h2>A state of the art platform with strong community support.</h2>
                        <p class="lead">Reinventing anonymous cryptocurrency by combining the best features of leading CryptoNote coins into a new blockchain.</p>

                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .conatiner  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad no-pb section-bg-alt">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-b.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 offset-md-1">
                    <div class="text-block">
                        <h4>The Electronero Launch</h4>
                        <p class="lead">The fork will happen at height 307,000 and all Electroneum owners will be ETNX owners at 1 ETN = 1 ETNX.</p>
                        <p>While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use currency on a private blockchain. It will include easy cryptocurrency payments integration, a digital arbitration system and smart contracts. </p>
                        <p>Electronero strives to be truly efficient with fast sync optimization, ASIC resistant proof of work algorithm, and provide reliable support to our users.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="apps">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <div class="heading-animation">
                            <span class="line-1"></span><span class="line-2"></span>
                            <span class="line-3"></span><span class="line-4"></span>
                            <span class="line-5"></span><span class="line-6"></span>
                            <span class="line-7"></span><span class="line-8"></span>
                        </div>
                        <h2 class="section-title">Mobile Wallet & Mobile Miner
                            <!--<span>apps</span>-->
                        </h2>
                        <p>With ETNX handy on your mobile you can manage your ETNX anytime, anywhere. Anyone with a smartphone and an internet connection can recieve ETNX and mine using ETNX mobile miner experience.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-c.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>The ETNX mobile wallet & mobile miner will come first for Android and iOS in the future. </p>
                        <ul>
                            <li>Secure and private</li>
                            <li>Designed for mass adoption</li>
                            <li>User-friendly</li>
                            <li>Professional Network</li>
                            <li>No more expensive fees</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="#" class="btn btn-sm">APP Coming Soon</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="#"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-bg-alt" id="tokenSale">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">HARD FORK
                            <!--<span>LAUNCH</span>-->
                        </h2>
                        <p>Public testnet launches on May 11, 2018 (approximate block height 280,000). The ETNX hard fork will happen at height 307,000 and will be followed by a public release of wallets, mining pools and exchanges listings, to provide an easy-to-use integration.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 res-m-bttm">
                    <div class="row event-info">
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Main Net Launch</h6>
                                <p>May 30, 2018 (9:00AM GMT)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Number of coins in circulation</h6>
                                <p> Approx 40,800,000,000 ETNX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Total Supply</h6>
                                <p>200,000,000,000 ETNX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Exchange Listing</h6>
                                <p><a href="https://tradeogre.com/">TradeOgre.com</a>
                                <a href="https://tradesatoshi.com/">TradeSatoshi.com</a>
                                <a href="https://LetsDoCoinz.com">LetsDoCoinz.com</a>
                                <a href="https://MapleChange.com">MapleChange.com</a>
                                <a href="https://instaSwap.io">InstaSwap.io</a></p>

                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>No Token Sale</h6>
                                <p>Hard Fork Launch</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Miner bonus reward program.</h6>
                                <p>Camel Emissions</p>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
                <div class="col-lg-5 offset-lg-1">
                    <div class="countdown-box text-center">
                    <!-- .col  <div class="token-countdown d-flex align-content-stretch" data-date="2018/05/30"></div>-->
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->

            <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                        <h3 class="sub-heading">Technical</h3>
                        <div>
                            <img src="/images/ETXVSETN.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div><!-- .row  -->

        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="roadmap">
        <div class="container">

            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Our Roadmap
                            <!--<span>RoadMap</span>-->
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row roadmap-list align-items-end">
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm roadmap-done">
                        <h6>April 2018</h6>
                        <p>Start of the project.</p>
                    </div>
                </div><!-- .col  -->
                    <div class="col-lg">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>May 2018</h6>
                        <p>Public Testnet launches.</p>
                    </div>
                  </div><!-- .col  -->
                      <div class="col-lg">
                      <div class="single-roadmap roadmap-sm roadmap-lg roadmap-done">
                          <h6>May 2018</h6>
                          <p>Beginning of Bounty Program, Smart Mobile Wallet w/ Contracts development project round 1 funded</p>
                      </div>
                </div><!-- .col  -->
                    <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Bulletproof RCT's & Ring Signatures Enabled</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Mobile Smart Contracts and Mobile Bounty development started</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>June 2018</h6>
                        <p>Main Net launch & Exchange Listing</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>July 2018</h6>
                        <p>Cryptonight FAST POW algo implemented on main net</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>July 2018</h6>
                        <p>Infrastructure Expansion, Bounty Program upgrade</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg ">
                        <h6>July 2018</h6>
                        <p>Release of Mobile Smart Wallets, closed and public beta</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>August 2018</h6>
                        <p>Additional Exchange Listings and Partnership Announcements</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg">
                        <h6>September  2018</h6>
                        <p>Smart Mobile Games and Smart Apps project funding begins</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>November 2018</h6>
                        <p>Smart Mobile Games and Smart Apps development begins</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>December 2018</h6>
                        <p>Smart Mobile Games and Smart Apps beta platform launch</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
  	<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
  		<div class="container">
  			<div class="row text-center">
  				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  					<div class="section-head">
  						<h2 class="section-title">COMMUNITY
  							<span></span>
  						</h2>
  						<p></p>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-mark.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mark<br>E.</h5>
  							<span class="team-title">Lead Blockchain Developer, Technical Advisor</span>
  							<ul class="team-social">
  								<li><a href="https://github.com/electronero/"><em class="fab  fa-github"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/globalvapor/"><em class="fab  fa-linkedin"></em></a></li>
                  <li><a href="https://t.me/interchained"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://twitter.com/interchained"><em class="fab  fa-twitter"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-ky.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Kyle<br>D.</h5>
  							<span class="team-title">Official Community Manager</span>
  							<ul class="team-social">
  								<li><a href="https://t.me/electronero"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/kyle-d-1656457b/"><em class="fab  fa-linkedin"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-diego.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Diego<br></h5>
  											<span class="team-title">Mining Advisor Nvidia/GPU | Mining Site Operator </span>
  											<ul class="team-social">
                          <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  												<li><a href="https://twitter.com/exus101"><em class="fab  fa-twitter"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-mike.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mike<br></h5>
  							<span class="team-title">African Community Support</span>
  							<ul class="team-social">
  								<li><a href="https://t.me/electroneroafrica"><em class="fab  fa-telegram"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  								<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  									<div class="team-member">
  										<div class="team-photo">
  											<img src="images/team-manu.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Manu<br></h5>
  											<span class="team-title">Spanish Community Support</span>
  											<ul class="team-social">
  												<li><a href="https://t.me/Electroneros"><em class="fab  fa-telegram"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
                  <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
                    <div class="team-member">
                      <div class="team-photo">
                        <img src="images/team-dmitriy.jpg" alt="team">
                        <a href="#team-profile-1" class=""></a>
                      </div>
                      <div class="team-info">
                        <h5 class="team-name">Dimitriy<br></h5>
                        <span class="team-title">Russian Community Support</span>
                        <ul class="team-social">
                          <li><a href="https://t.me/etnxrussian"><em class="fab  fa-telegram"></em></a></li>
                        </ul>
                      </div>
                    </div>
                  </div><!-- .col  -->
                  <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
                    <div class="team-member">
                      <div class="team-photo">
                        <img src="images/team-danny.jpg" alt="team">
                        <a href="#team-profile-1" class=""></a>
                      </div>
                      <div class="team-info">
                        <h5 class="team-name">Danny<br></h5>
                        <span class="team-title">Italian Community Support</span>
                        <ul class="team-social">
                          <li><a href="https://t.me/etnxitalia"><em class="fab  fa-telegram"></em></a></li>
                        </ul>
                      </div>
                    </div>
                  </div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-kosta.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Konstantinos<br></h5>
  							<span class="team-title">Mining Advisor CPU/GPU</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/konstantinos-karatamoglou-2b33275b/"><em class="fab  fa-linkedin"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-jp.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">PWN TECH<br></h5>
  							<span class="team-title">Youtuber & Mobile Mining Advisor</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>
  								<li><a href="https://www.youtube.com/channel/UCuagkFjhgtt3ZDLxv4iLqjw"><em class="fab fa-youtube"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-shaun.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Shaun<br></h5>
  							<span class="team-title">Mining Advisor AMD/GPU | Mining Site Operator</span>
                <ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
           <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mark<br></h5>
  							<span class="team-title">Official Electronero Mining Pool</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
  								<li><a href="https://pool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
          <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Electronero<br></h5>
  							<span class="team-title">Official Electronero Mining Pool</span>
                <ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
                  <li><a href="https://uspool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Electronero<br></h5>
  							<span class="team-title">Official Mining Pool</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://pool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">HashParty<br></h5>
  							<span class="team-title">http://etnx.hashparty.net</span>
  							<ul class="team-social">
  								<li><a href="http://etnx.hashparty.net"><em class="fa  fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
          <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
            <div class="team-member">
              <div class="team-photo">
                <img src="images/team-pool.jpg" alt="team">
                <a href="#team-profile-1" class=""></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">CryptoPool<br></h5>
                <span class="team-title">Mining Partners</span>
                <ul class="team-social">
                  <li><a href="https://etnx.crypto-pool.pro/"><em class="fa  fa-link"></em></a></li>
                </ul>
              </div>
            </div>
          </div><!-- .col  -->
  								<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  									<div class="team-member">
  										<div class="team-photo">
  											<img src="images/team-pool.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Thor's Hammer<br></h5>
  											<span class="team-title">Mining Pool Partner etnx.thorshammer.cc</span>
  											<ul class="team-social">
  												<li><a href="https://etnx.thorshammer.cc/"><em class="fa  fa-link"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
  										</div><!-- .row  -->
  									</div><!-- .container  -->
  								</div><!-- .team-profile  -->
  							</div>
  						</div><!-- .col  -->
  					</div><!-- .row  -->
  				</div><!-- .col  -->
  			</div><!-- .row  -->
  		</div>
  	</div>
  	<!-- Start Section -->

    <!-- Start Section -->
    <div class="section no-pb section-bg-alt" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">Frequently asked questions
                            <!--<span>FAQS</span>-->
                        </h2>
                        <p>Below we’ve provided answers to some frequently asked questions. If you have any other questions, please get in touch using the contact form below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Specs</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Electronero is a fork of Electroneum. All ETN owners are ETNX owners.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                  How can I retrieve my ETNX if I own ETN coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>To be safe, you may follow this guide:</p>
                                                <p>1: Keep your ETN secure in your web wallet or preferred Exchange storage.</p>
                                                <p>2: Create an ETN paper wallet, or an ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>3: Transfer some or all of your ETN tokens to your ETN paper wallet, or ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>4: Transfer your ETN back to your ETN web wallet or preferred Exchange storage for safe keeping after the blockchain snapshot on block # 307,000</p>
                                                <p>5: Retrieve your private spend and view keys, along with your address and/or mnemonic seed word key from the ETN wallet you transferred tokens to on step 3</p>
                                                <p>6: Restore your paper wallet / desktop wallet on ETNX network and claim your new Electronero 1:1 ETNX for ETN</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                  How do I contact ETNX if I have an question?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>We are providing 24/7 support to our users, you can get in touch with the ETNX team via email, Telegram, or Twitter.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                  Is ETNX ASIC-Resistant?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. And always will be.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                  Is ETNX anonymous?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. ETNX based on CryptoNote which is completely anonymous and untraceable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                   Is the ETNX team affiliated with Electroneum?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>No, this is a independent project built by the community to create a fair and secure environment to its users.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                   How can I participate in Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>We are always looking for help, if you are have skills or ideas to improve Electronero feel free to send us an email or contact us on Social Media.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->

                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->
