<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1>Electronero</h1>

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 offset-md-1">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-a.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 order-md-first order-last">
                    <div class="text-block">
                        <h2>A state of the art platform with strong community support.</h2>
                        <p class="lead">Reinventing anonymous cryptocurrency by combining the best features of leading CryptoNote coins into a new blockchain.</p>

                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .conatiner  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad no-pb section-bg-alt">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-b.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 offset-md-1">
                    <div class="text-block">
                        <h4>The Electronero Launch</h4>
                        <p class="lead">The fork will happen at height XXXXX and all Electroneum owners will be ETX owners.</p>
                        <p>While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use currency on a private blockchain. It will include easy cryptocurrency payments integration, a digital arbitration system and smart contracts. </p>
                        <p>Electronero strives to be truly efficient with fast sync optimization, ASIC resistant proof of work algorithm, and provide reliable support to our users.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="apps">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <div class="heading-animation">
                            <span class="line-1"></span><span class="line-2"></span>
                            <span class="line-3"></span><span class="line-4"></span>
                            <span class="line-5"></span><span class="line-6"></span>
                            <span class="line-7"></span><span class="line-8"></span>
                        </div>
                        <h2 class="section-title">Mobile Wallet
                            <!--<span>apps</span>-->
                        </h2>
                        <p>With ETX you can manage your money anywhere. Anyone with a smartphone and an internet connection can participate in global marketplace.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-c.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>The ETX mobile wallet will come first for Android and iOS in the future. </p>
                        <ul>
                            <li>Secure and private</li>
                            <li>Designed for mass adoption</li>
                            <li>User-friendly</li>
                            <li>Professional Network</li>
                            <li>No more expensive fees</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="#" class="btn btn-sm">APP Coming Soon</a></li>
                            <li>
                                <a href="#"><em class="fa fa-apple"></em></a>
                                <a href="#"><em class="fa fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-bg-alt" id="tokenSale">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">HARD FORK
                            <!--<span>LAUNCH</span>-->
                        </h2>
                        <p>The hard fork will happen at height XXXX and will be followed by a public release of wallets, mining pools and exchanges listings, to provide an easy-to-use integration.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 res-m-bttm">
                    <div class="row event-info">
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Launch</h6>
                                <p>June 1, 2018 (9:00AM GMT)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Number of coins in circulation</h6>
                                <p> xx,xxx,xxx,xxx ETX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Instamine</h6>
                                <p>1.000.000.000 ETX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Exchange Listing</h6>
                                <p>TBD</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Acceptable currencies</h6>
                                <p>ETH, BTC, LTC</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Miner bonus reward program.</h6>
                                <p>TBA</p>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
                <div class="col-lg-5 offset-lg-1">
                    <div class="countdown-box text-center">
                        <div class="token-countdown d-flex align-content-stretch" data-date="2018/06/01"></div>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->

            <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                        <h3 class="sub-heading">Electroneum&nbsp;&nbsp;vs&nbsp;&nbsp;Electronero</h3>
                        <div>
                            <img src="/images/ETX_ETN.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div><!-- .row  -->

        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="roadmap">
        <div class="container">

            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Our Roadmap
                            <!--<span>RoadMap</span>-->
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row roadmap-list align-items-end">
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm roadmap-done">
                        <h6>April 2018</h6>
                        <p>Start of the project.</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down roadmap-lg">
                        <h6>June 2018</h6>
                        <p>Public launch / Exchange listing</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg">
                        <h6>July 2018</h6>
                        <p>Release of mobile wallets</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down">
                        <h6>August 2018</h6>
                        <p>Infrastructure Expansion</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>October 2018</h6>
                        <p>Smart Contracts Development</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down">
                        <h6>December 2018</h6>
                        <p>Smart Contracts (Beta)</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg">
                        <h6>January 2019</h6>
                        <p>Set-up and commercial preparation</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down">
                        <h6>TBA</h6>
                        <p>First Untraceable Tokens</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>Continuous</h6>
                        <p>More Market Partnerships</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down">
                        <h6>Continuous</h6>
                        <p>More Exchange listings</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg">
                        <h6>April 2019</h6>
                        <p>1st anniversary surprise</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->



    <!-- Start Section -->
    <div class="section no-pb section-bg-alt" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">Frequently asked questions
                            <!--<span>FAQS</span>-->
                        </h2>
                        <p>Below we’ve provided answers to some frequently asked questions. If you have any other questions, please get in touch using the contact form below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Tokens</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                  What cryptocurrencies can I use to purchase?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                  How can I participate in the ICO Token sale?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                  How do I benefit from the ICO Token?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                  Which of us ever undertakes laborious?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                    Who do not know how to pursue rationally?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                   Their separate existence is a myth?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                  Pityful a rethoric question ran over her cheek?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->

                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->
