<%# views/index.ejs %>
  <% extend('layout') %>

<!-- <h1>Hello <%= title %></h1> -->
<h1></h1>

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt nopb" id="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 offset-md-1">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-a.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 order-md-first order-last">
                    <div class="text-block">
                        <h2>A state of the art platform with strong community support.</h2>
                        <p class="lead">Reinventing anonymous cryptocurrency by combining the best features of leading CryptoNote coins with the integrity and technology to outperform coins like Bitcoin and Ethereum. </p>

                    </div>
              
                        <div class="header-image animated fadeInRight" data-animate="fadeInRight" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;"> <img class="header-image-icon top-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon left-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon right-icon" src="images/header-icon-b.png" alt="header-icon"></div>
                     </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .conatiner  -->
        
    </div>
    <!-- Start Section -->
    
    <div class="banner-content">
                  <div class="row align-items-center mobile-center">
                     <div class="col-lg-6 col-md-12 order-lg-first">
                        <div class="header-txt">
                           <h1 class="animated fadeInUp" data-animate="fadeInUp" data-delay="1.55" style="visibility: visible; animation-delay: 1.55s;">Mobile Smart Contracts using the power of blockchain</h1>
                           <p class="lead color-secondary animated fadeInUp" data-animate="fadeInUp" data-delay="1.65" style="visibility: visible; animation-delay: 1.65s;">a decentralized hard fork of ETN</p>
                           <ul class="btns animated fadeInUp" data-animate="fadeInUp" data-delay="1.75" style="visibility: visible; animation-delay: 1.75s;">
                              <li><a href="https://twitter.com/_electronero" class="btn">Tweet</a></li>
                              <li><a href="https://t.me/electronero" class="btn btn-alt">Talk</a></li>
                           </ul>
                           <ul class="social">
                             <li class="animated fadeInUp" data-animate="fadeInUp" data-delay="1.9" style="visibility: visible; animation-delay: 1.9s;"><a href="https://twitter.com/_electronero"><svg class="svg-inline--fa fa-twitter fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg><!-- <em class="fab fa-twitter"></em> --></a></li>
                              <li class="animated fadeInUp" data-animate="fadeInUp" data-delay="2" style="visibility: visible; animation-delay: 2s;"><a href="https://github.com/electronero"><svg class="svg-inline--fa fa-github fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg><!-- <em class="fab fa-github"></em> --></a></li>
                              <li class="animated fadeInUp" data-animate="fadeInUp" data-delay="2.05" style="visibility: visible; animation-delay: 2.05s;"><a href="https://www.reddit.com/r/Electronero_official/"><svg class="svg-inline--fa fa-reddit fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="reddit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M201.5 305.5c-13.8 0-24.9-11.1-24.9-24.6 0-13.8 11.1-24.9 24.9-24.9 13.6 0 24.6 11.1 24.6 24.9 0 13.6-11.1 24.6-24.6 24.6zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-132.3-41.2c-9.4 0-17.7 3.9-23.8 10-22.4-15.5-52.6-25.5-86.1-26.6l17.4-78.3 55.4 12.5c0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.3 24.9-24.9s-11.1-24.9-24.9-24.9c-9.7 0-18 5.8-22.1 13.8l-61.2-13.6c-3-.8-6.1 1.4-6.9 4.4l-19.1 86.4c-33.2 1.4-63.1 11.3-85.5 26.8-6.1-6.4-14.7-10.2-24.1-10.2-34.9 0-46.3 46.9-14.4 62.8-1.1 5-1.7 10.2-1.7 15.5 0 52.6 59.2 95.2 132 95.2 73.1 0 132.3-42.6 132.3-95.2 0-5.3-.6-10.8-1.9-15.8 31.3-16 19.8-62.5-14.9-62.5zM302.8 331c-18.2 18.2-76.1 17.9-93.6 0-2.2-2.2-6.1-2.2-8.3 0-2.5 2.5-2.5 6.4 0 8.6 22.8 22.8 87.3 22.8 110.2 0 2.5-2.2 2.5-6.1 0-8.6-2.2-2.2-6.1-2.2-8.3 0zm7.7-75c-13.6 0-24.6 11.1-24.6 24.9 0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.1 24.9-24.6 0-13.8-11-24.9-24.9-24.9z"></path></svg><!-- <em class="fab fa-reddit"></em> --></a></li>
                              <li class="animated fadeInUp" data-animate="fadeInUp" data-delay="2.15" style="visibility: visible; animation-delay: 2.15s;"><a href="https://discord.gg/Msy85Uz"><svg class="svg-inline--fa fa-discord fa-w-14" aria-hidden="true" data-prefix="fab" data-icon="discord" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M297.216 243.2c0 15.616-11.52 28.416-26.112 28.416-14.336 0-26.112-12.8-26.112-28.416s11.52-28.416 26.112-28.416c14.592 0 26.112 12.8 26.112 28.416zm-119.552-28.416c-14.592 0-26.112 12.8-26.112 28.416s11.776 28.416 26.112 28.416c14.592 0 26.112-12.8 26.112-28.416.256-15.616-11.52-28.416-26.112-28.416zM448 52.736V512c-64.494-56.994-43.868-38.128-118.784-107.776l13.568 47.36H52.48C23.552 451.584 0 428.032 0 398.848V52.736C0 23.552 23.552 0 52.48 0h343.04C424.448 0 448 23.552 448 52.736zm-72.96 242.688c0-82.432-36.864-149.248-36.864-149.248-36.864-27.648-71.936-26.88-71.936-26.88l-3.584 4.096c43.52 13.312 63.744 32.512 63.744 32.512-60.811-33.329-132.244-33.335-191.232-7.424-9.472 4.352-15.104 7.424-15.104 7.424s21.248-20.224 67.328-33.536l-2.56-3.072s-35.072-.768-71.936 26.88c0 0-36.864 66.816-36.864 149.248 0 0 21.504 37.12 78.08 38.912 0 0 9.472-11.52 17.152-21.248-32.512-9.728-44.8-30.208-44.8-30.208 3.766 2.636 9.976 6.053 10.496 6.4 43.21 24.198 104.588 32.126 159.744 8.96 8.96-3.328 18.944-8.192 29.44-15.104 0 0-12.8 20.992-46.336 30.464 7.68 9.728 16.896 20.736 16.896 20.736 56.576-1.792 78.336-38.912 78.336-38.912z"></path></svg><!-- <em class="fab fa-discord"></em> --></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-12 order-first">
                        <div class="header-image animated fadeInRight" data-animate="fadeInRight" data-delay="1.25" style="visibility: visible; animation-delay: 1.25s;"> <img src="images/header-image-dark.png" alt="header"> <img class="header-image-icon top-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon left-icon" src="images/header-icon-a.png" alt="header-icon"> <img class="header-image-icon right-icon" src="images/header-icon-b.png" alt="header-icon"></div>
                     </div>
                  </div>
               </div>


    <!-- Start Section -->
    <div class="section section-pad no-pb section-bg-alt">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="res-m-btm">
                        <img src="/images/graph-light-b.png" alt="graph">
                    </div>
                </div><!-- .col  -->
                <div class="col-md-6 offset-md-1">
                    <div class="text-block">
                        <h4>The Electronero Launch</h4>
                        <p class="lead">The fork happened at height 307,000 and all Electroneum owners are defacto ETNX owners.</p>
                        <p>While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use currency on a private blockchain. It includes an easy cryptocurrency payments integration, mobile experience, a community arbitration network and smart contracts. </p>
                        <p>Electronero strives to be truly efficient with fast sync optimization, ASIC resistant proof of work algorithm, and provide reliable support to our users.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="apps">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <div class="heading-animation">
                            <span class="line-1"></span><span class="line-2"></span>
                            <span class="line-3"></span><span class="line-4"></span>
                            <span class="line-5"></span><span class="line-6"></span>
                            <span class="line-7"></span><span class="line-8"></span>
                        </div>
                        <h2 class="section-title">Smart Card enabled Mobile Wallet & Mobile Smart Contracts
                            <!--<span>apps</span>-->
                        </h2>
                        <p>With ETNX handy on your mobile you can manage your ETNX anytime, anywhere. Anyone with a smartphone and an internet connection can recieve ETNX and sign or verify ETNX smart contracts in a swift mobile experience.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-mobile-wallet-wallets-smart-contracts-mobile-wallet.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>The ETNX smart card enabled mobile wallet & mobile smart contracts has come first for Android c beta ending soon and iOS is in the alpha stages now. </p>
                        <ul>
                            <li>Secure and private</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- Start Section -->
                        <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-mobile-nero-wallets-smart-contracts-wallet.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>Deploy Smart Contracts, Track Tokens!</p>
                        <ul>
                            <li>Smart Contracts for Mobile FIRST!</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
             <!-- Start Section -->
                        <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-wallet-smart-contracts-2018.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>Receive, Send, Add Contacts, Deploy Contracts, Monitor Markets, Control Settings, Added Layers of Security (Now with 2fa powered by Goole Authenticator!</p>
                        <ul>
                            <li>Designed for mass adoption</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- Start Section -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-mobile-smart-contracts-wallet.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>Create Contacts in your Address Book and Save Friends or Business Contacts for Future electronero transactions </p>
                        <ul>
                            <li>User-friendly</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- Start Section -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-mobile-wallets-smart-contracts-wallet.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>Control the settings and security levels from the palm of your hand. </p>
                        <ul>
                            <li>Professional Network</li>
                            <li>Easy Settings</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- Start Section -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img src="/images/electronero-wallet-smart-contracts-mobile.png" alt="graph">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <p>Easily add a Contact in your Address Book for Tranacting electronero on-the-go made easy! </p>
                        <ul>
                            <li>Address Book</li>
                            <li>Low network fees</li>
                        </ul>
                        <ul class="btns">
                            <li><a href="https://play.google.com/store/apps/details?id=com.notrait.electronero" class="btn btn-sm">Download APP in Google Play market</a></li>
                            <li>
                                <a href="#"><em class="fab  fa-apple"></em></a>
                                <a href="https://play.google.com/store/apps/details?id=com.notrait.electronero"><em class="fab  fa-android"></em></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            </br>
             <div class="row text-center">
             
             </br>
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">GPU Friendly
                            <span>NVIDIA</span>
                        </h2>
                        <p>GPU Friendly Cryptonight Fast mining algorithm and a custom modified Linearly Weighted Moving Average (MLWMA) responsive to attacks and performs well for GPU/CPU so CUDA mines more threads. </p>
                    </div>
                </div>
            </div>
            <!-- some content -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img alt="GeForce GTX 1080" src="https://www.primcast.com/images/newdesign/gpu/GTX1080.png" style="max-width: 100%;width: 100%;">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <h1>NVIDIA GeForce GTX 1080/1070 TI</h1>
                          <br>
                          <p>Get the latest and best performing chip, for graphics rendering and computing. The NVIDIA Pascal architecture delivers high performance at a budget friendly price.</p>
                          <br>
                          <ul>
                            <li><b>8GB DDR5</b></li>
                            <li><b>2560 CUDA Cores</b></li>
                            <li><b>320 GB/s Max Bandwidth</b></li>
                            <li><b>NVIDIA GPU Boost 3.0</b></li>
                          </ul>
                          <br>
                          <p>Compatible with Linux, CUDA/OpenCL, KVM.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- some content -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img alt="Tesla K40" src="https://www.primcast.com/images/nvidiateslak80.jpg" style="max-width: 100%;width: 100%;">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <h1>NVIDIA TESLA K40</h1>
                          <br>
                          <p>Get access to high compute power by combining our HP blade dedicated servers with NVIDIA Tesla K40.</p>
                          <br>
                          <ul>
                            <li><b>Dual GPU design (Two Kepler GK210 GPUs per card)</b></li>
                            <li><b>4992 CUDA cores</b></li>
                            <li><b>24GB DDR5</b></li>
                            <li><b>480 Gbps bandwidth</b></li>
                          </ul>
                          <br>
                          <p>Compatible: Linux, Windows Server, CUDA/OpenCL.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- some content -->
            <div class="row align-items-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-4 text-center">
                      <h4>High Performance Computing</h4>
                      <p>Leverage the power of Tesla K40 to accelerate your HPC applications.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                      <h4>Machine Learning</h4>
                      <p>Get better results, faster, by leveraging the power of Tesla to enhance machine learning procedures.</p>
                    </div>
                    <div class="col-sm-4 text-center">
                      <h4>Bioinformatics</h4>
                      <p>Use the card’s parallel data processing capabilities to compute your bioinformatics data.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img alt="Tesla GPU" src="https://images.anandtech.com/doci/10675/P4Card.jpg" style="max-width: 100%;width: 100%;">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <h1>NVIDIA TESLA P4/P40/P100</h1>
                            <br>
                            <p>A optimal chip for machine learning and video transcoding, can be found in the NVIDIA Tesla P4 and P100 GPU’s. NVIDIA’s Pascal chip architecture has been proven to be faster  and more power efficient than its Maxwell predecessor.</p>
                            <p>Transcode up to 20 simultaneous video streams with a single Tesla P4 paired with our HP BL460c blade server. *Results may vary, based on server configuration and video resolution of each stream.</p>
                            <p>A more powerful version of the Tesla P4 is the Tesla P40, with more than twice the processing power of the Tesla P4.</p>
                            <p>The Tesla P100 GPU, is most suitable for deep learning and remote graphics. With 18.7 TeraFLOPS of inference performance, a single Tesla P100 can replace over 25 CPU servers. *Results may vary based on server configuration.</p>
                            <br>
                            <ul>
                              <li><b>Pascal GP100 or GP104 chip</b></li>
                              <li><b>Up to 3584 CUDA cores</b></li>
                              <li><b>Up to 16GB CoWoS</b></li>
                              <li><b>Enterprise grade hardware</b></li>
                            </ul>
                            <br>
                            <p>Compatible: VMWare ESXi, Citrix Xenserver, KVM, Linux, Windows.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <!-- some content -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="res-m-btm">
                        <img alt="Titan V" src="https://www.primcast.com/images/newdesign/nvidiav-primcast.jpg" style="max-width: 100%;width: 100%;">
                    </div>
                </div><!-- .col  -->

                <div class="col-md-5 offset-md-1">
                    <div class="text-block">
                        <h1>NVIDIA TITAN V</h1>
                          <br>
                          <p>The first GPU to break the 100 teraflop barrier of deep learning performance. NVIDIA’s Volta chip, is up to 3x faster than it’s Pascal chip predecessor.</p>
                          <p>Your deep learning project design can now be a reality, with little investment. Ge the maximum per machine deep learning performance, replacing up to 30 single CPU servers with just one Titan V configuration.</p>
                          <p>Use the Titan V for high performance computing, from predicting the weather to discovering or finding new energy sources. Get your results up to 1.5x faster than NVIDIA’s Pascal predecessor.</p>
                          <ul>
                            <li><b>NVIDIA Volta Chip</b></li>
                            <li><b>5120 CUDA cores</b></li>
                            <li><b>640 Tensor Cores</b></li>
                            <li><b>12 GB CoWoS Stacked HBM2</b></li>
                            <li><b>653 Gbps max bandwidth</b></li>
                          </ul>
                          <br>
                          <p>Compatible: VMWare ESXi, Citrix Xenserver, KVM, Linux, Windows.</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
            
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-bg-alt" id="tokenSale">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">HARD FORK
                            <!--<span>LAUNCH</span>-->
                        </h2>
                        <p>Public testnet launched on May 11, 2018 (approximate block height 280,000). The ETNX hard fork happened at height 307,000 and was followed by a public release of wallets, mining pools and exchanges listings, electronero community provided with an easy-to-use mobile integration.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 res-m-bttm">
                    <div class="row event-info">
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Main Net Launch</h6>
                                <p>May 30, 2018 (9:00AM GMT)</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Number of coins in circulation</h6>
                                <p> Approx 40,800,000,000 ETNX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Total Supply</h6>
                                <p>200,000,000,000 ETNX</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Exchange Listing</h6>
                                <p><a href="https://tradeogre.com/">TradeOgre.com</a>
                                <a href="https://tradesatoshi.com/">TradeSatoshi.com</a>
                                <a href="https://LetsDoCoinz.com">LetsDoCoinz.com</a>
                                <a href="https://MapleChange.com">MapleChange.com</a>
                                <a href="https://instaSwap.io">InstaSwap.io</a></p>

                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>No Token Sale</h6>
                                <p>Hard Fork Launch</p>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-sm-6">
                            <div class="event-single-info">
                                <h6>Miner bonus reward program.</h6>
                                <p>Camel Emissions</p>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .col  -->
                <div class="col-lg-5 offset-lg-1">
                    <div class="countdown-box text-center">
                    <!-- .col  <div class="token-countdown d-flex align-content-stretch" data-date="2018/05/30"></div>-->
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->

            <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-md-block"></div><!-- .gaps  -->

            <div class="row text-center">
                <div class="col-md-12">
                    <div class="single-chart res-m-btm">
                        <h3 class="sub-heading">Technical</h3>
                        <div>
                            <img src="/images/ETXVSETN.png" alt="chart">
                        </div>
                    </div>
                </div>
            </div><!-- .row  -->

        </div><!-- .container  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="roadmap">
        <div class="container">

            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Our Roadmap
                            <!--<span>RoadMap</span>-->
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row roadmap-list align-items-end">
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm roadmap-done">
                        <h6>April 2018</h6>
                        <p>Start of the project.</p>
                    </div>
                </div><!-- .col  -->
                    <div class="col-lg">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>May 2018</h6>
                        <p>Public Testnet launches.</p>
                    </div>
                  </div><!-- .col  -->
                      <div class="col-lg">
                      <div class="single-roadmap roadmap-sm roadmap-lg roadmap-done">
                          <h6>May 2018</h6>
                          <p>Beginning of Bounty Program, Smart Mobile Wallet w/ Contracts development project round 1 funded</p>
                      </div>
                </div><!-- .col  -->
                    <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Bulletproof RCT's & Ring Signatures Enabled</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>May 2018</h6>
                        <p>Mobile Smart Contracts and Mobile Bounty development started</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg width-0">
                    <div class="single-roadmap roadmap-down roadmap-lg roadmap-done">
                        <h6>June 2018</h6>
                        <p>Main Net launch & Exchange Listing</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>July 2018</h6>
                        <p>Cryptonight FAST POW algo implemented on main net</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down roadmap-done">
                        <h6>July 2018</h6>
                        <p>Infrastructure Expansion, Bounty Program upgrade</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-up roadmap-lg roadmap-done">
                        <h6>August 2018</h6>
                        <p>Release of Mobile Smart Wallets, closed and public beta</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>September 2018</h6>
                        <p>Additional Exchange Listings and Partnership Announcements</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-lg">
                        <h6>October 2018</h6>
                        <p>Smart Mobile Games and Smart Apps project funding begins</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg ">
                    <div class="single-roadmap roadmap-down">
                        <h6>November 2018</h6>
                        <p>Smart Mobile Games and Smart Apps development begins</p>
                    </div>
                </div><!-- .col  -->
                <div class="col-lg">
                    <div class="single-roadmap roadmap-sm">
                        <h6>December 2018</h6>
                        <p>Smart Mobile Games and Smart Apps beta platform launch</p>
                    </div>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
  	<div class="section section-pad no-pb section-bg-alt section-fix" id="team">
  		<div class="container">
  			<div class="row text-center">
  				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  					<div class="section-head">
  						<h2 class="section-title">COMMUNITY
  							<span></span>
  						</h2>
  						<p></p>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-mark.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mark<br>E.</h5>
  							<span class="team-title">Lead Blockchain Developer, Technical Advisor</span>
  							<ul class="team-social">
  								<li><a href="https://github.com/electronero/"><em class="fab  fa-github"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/globalvapor/"><em class="fab  fa-linkedin"></em></a></li>
                  <li><a href="https://t.me/interchained"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://twitter.com/interchained"><em class="fab  fa-twitter"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-ky.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Kyle<br>D.</h5>
  							<span class="team-title">Official Community Manager</span>
  							<ul class="team-social">
  								<li><a href="https://t.me/electronero"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/kyle-d-1656457b/"><em class="fab  fa-linkedin"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-diego.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Diego<br></h5>
  											<span class="team-title">Mining Advisor Nvidia/GPU | Mining Site Operator </span>
  											<ul class="team-social">
                          <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  												<li><a href="https://twitter.com/exus101"><em class="fab  fa-twitter"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-mike.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mike<br></h5>
  							<span class="team-title">African Community Support</span>
  							<ul class="team-social">
  								<li><a href="https://t.me/electroneroafrica"><em class="fab  fa-telegram"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  								<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  									<div class="team-member">
  										<div class="team-photo">
  											<img src="images/team-manu.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Manu<br></h5>
  											<span class="team-title">Spanish Community Support</span>
  											<ul class="team-social">
  												<li><a href="https://t.me/Electroneros"><em class="fab  fa-telegram"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
                  <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
                    <div class="team-member">
                      <div class="team-photo">
                        <img src="images/team-dmitriy.jpg" alt="team">
                        <a href="#team-profile-1" class=""></a>
                      </div>
                      <div class="team-info">
                        <h5 class="team-name">Dimitriy<br></h5>
                        <span class="team-title">Russian Community Support</span>
                        <ul class="team-social">
                          <li><a href="https://t.me/etnxrussian"><em class="fab  fa-telegram"></em></a></li>
                        </ul>
                      </div>
                    </div>
                  </div><!-- .col  -->
                  <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
                    <div class="team-member">
                      <div class="team-photo">
                        <img src="images/team-danny.jpg" alt="team">
                        <a href="#team-profile-1" class=""></a>
                      </div>
                      <div class="team-info">
                        <h5 class="team-name">Danny<br></h5>
                        <span class="team-title">Italian Community Support</span>
                        <ul class="team-social">
                          <li><a href="https://t.me/etnxitalia"><em class="fab  fa-telegram"></em></a></li>
                        </ul>
                      </div>
                    </div>
                  </div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-kosta.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Konstantinos<br></h5>
  							<span class="team-title">Mining Advisor CPU/GPU</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://www.linkedin.com/in/konstantinos-karatamoglou-2b33275b/"><em class="fab  fa-linkedin"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-jp.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">PWN TECH<br></h5>
  							<span class="team-title">Youtuber & Mobile Mining Advisor</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>
  								<li><a href="https://www.youtube.com/channel/UCuagkFjhgtt3ZDLxv4iLqjw"><em class="fab fa-youtube"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-shaun.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Shaun<br></h5>
  							<span class="team-title">Mining Advisor AMD/GPU | Mining Site Operator</span>
                <ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
           <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Mark<br></h5>
  							<span class="team-title">Official Electronero Mining Pool</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
  								<li><a href="https://pool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
          <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Electronero<br></h5>
  							<span class="team-title">Official Electronero Mining Pool</span>
                <ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab fa-telegram"></em></a></li>
                  <li><a href="https://uspool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">Electronero<br></h5>
  							<span class="team-title">Official Mining Pool</span>
  							<ul class="team-social">
                  <li><a href="https://t.me/etnxpool"><em class="fab  fa-telegram"></em></a></li>
  								<li><a href="https://pool.electronero.org/"><em class="fa fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
  				<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  					<div class="team-member">
  						<div class="team-photo">
  							<img src="images/team-pool.jpg" alt="team">
  							<a href="#team-profile-1" class=""></a>
  						</div>
  						<div class="team-info">
  							<h5 class="team-name">HashParty<br></h5>
  							<span class="team-title">http://etnx.hashparty.net</span>
  							<ul class="team-social">
  								<li><a href="http://etnx.hashparty.net"><em class="fa  fa-link"></em></a></li>
  							</ul>
  						</div>
  					</div>
  				</div><!-- .col  -->
          <div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
            <div class="team-member">
              <div class="team-photo">
                <img src="images/team-pool.jpg" alt="team">
                <a href="#team-profile-1" class=""></a>
              </div>
              <div class="team-info">
                <h5 class="team-name">CryptoPool<br></h5>
                <span class="team-title">Mining Partners</span>
                <ul class="team-social">
                  <li><a href="https://etnx.crypto-pool.pro/"><em class="fa  fa-link"></em></a></li>
                </ul>
              </div>
            </div>
          </div><!-- .col  -->
  								<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">
  									<div class="team-member">
  										<div class="team-photo">
  											<img src="images/team-pool.jpg" alt="team">
  											<a href="#team-profile-1" class=""></a>
  										</div>
  										<div class="team-info">
  											<h5 class="team-name">Thor's Hammer<br></h5>
  											<span class="team-title">Mining Pool Partner etnx.thorshammer.cc</span>
  											<ul class="team-social">
  												<li><a href="https://etnx.thorshammer.cc/"><em class="fa  fa-link"></em></a></li>
  											</ul>
  										</div>
  									</div>
  								</div><!-- .col  -->
  										</div><!-- .row  -->
  									</div><!-- .container  -->
  								</div><!-- .team-profile  -->
  							</div>
  						</div><!-- .col  -->
  					</div><!-- .row  -->
  				</div><!-- .col  -->
  			</div><!-- .row  -->
  		</div>
  	</div>
  	<!-- Start Section -->

    <!-- Start Section -->
    <div class="section no-pb section-bg-alt" id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title">Frequently asked questions
                            <!--<span>FAQS</span>-->
                        </h2>
                        <p>Below we’ve provided answers to some frequently asked questions. If you have any other questions, please get in touch using the contact form below.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">Specs</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Electronero is a fork of Electroneum. All ETN owners are ETNX owners.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                  How can I retrieve my ETNX if I own ETN coins?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>To be safe, you may follow this guide:</p>
                                                <p>1: Keep your ETN secure in your web wallet or preferred Exchange storage.</p>
                                                <p>2: Create an ETN paper wallet, or an ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>3: Transfer some or all of your ETN tokens to your ETN paper wallet, or ETN desktop wallet before the snapshot occurs on block # 307,000</p>
                                                <p>4: Transfer your ETN back to your ETN web wallet or preferred Exchange storage for safe keeping after the blockchain snapshot on block # 307,000</p>
                                                <p>5: Retrieve your private spend and view keys, along with your address and/or mnemonic seed word key from the ETN wallet you transferred tokens to on step 3</p>
                                                <p>6: Restore your paper wallet / desktop wallet on ETNX network and claim your new Electronero 1:1 ETNX for ETN</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                  How do I contact ETNX if I have an question?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>We are providing 24/7 support to our users, you can get in touch with the ETNX team via email, Telegram, or Twitter.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                  Is ETNX ASIC-Resistant?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. And always will be.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                  Is ETNX anonymous?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Yes. ETNX based on CryptoNote which is completely anonymous and untraceable.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                   Is the ETNX team affiliated with Electroneum?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>No, this is a independent project built by the community to create a fair and secure environment to its users.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-3">
                                                   How can I participate in Electronero?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>We are always looking for help, if you are have skills or ideas to improve Electronero feel free to send us an email or contact us on Social Media.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->

                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->
