<%# views/layout.ejs %>
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Electronero">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Electronero">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Site Title  -->
    <title>Electronero</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?v=2">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=113">
    <link rel="stylesheet" href="/assets/css/theme.css?ver=113">
    <!-- Custom styles from etx dev team -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css?ver=114">

</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">

        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>

        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">

                <a class="navbar-brand" href="./">
                    <img class="logo logo-dark" alt="logo" src="/images/logo.png" srcset="/images/logo2x.png 2x">
                    <img class="logo logo-light" alt="logo" src="/images/logo-white.png" srcset="/images/logo-white2x.png 2x">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link menu-link" href="#intro">About<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Launch</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="http://electronero.org/blog">News</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-btns">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="https://www.dropbox.com/sh/lhtwivn8qqdkzeu/AAC-xX17lYHQz9DPuNxQT-fca?dl=0">Whitepaper</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" target="_blank" href="https://my.electroneum.com/offline_paper_electroneum_walletV1.6.html">Download Wallet</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

        <!-- Banner/Slider -->
        <div id="header" class="banner banner-full banner-curb d-flex align-items-center">
            <div class="container">
                <div class="banner-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="header-txt tab-center mobile-center">
                                <h1>Initializing Testnet.</h1>
				<p><i>A decentralized hard fork of ETN.</i></p>
				<p>As seen on <a href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="http://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a>
				</p>
                                <p class="lead color-secondary">Electroneum Hard Fork. Public Testnet release 05/11/2018</p>
                                <ul class="btns">
                                    <li><a href="https://twitter.com/_electronero" class="btn">Twitter</a></li>
                                    <li><a href="https://t.me/electronero" class="btn btn-alt">Telegram</a></li>
                                </ul>
                                <ul class="social">
                                    <!--
                                    <li><a target="_blank" href="https://t.me/electronero"><em class="fa fa-telegram"></em></a></li>
                                    <li><a target="_blank" href="https://twitter.com/_electronero"><em class="fa fa-twitter"></em></a></li>
                                    <li><a target="_blank" href="https://instagram.com/electronero"><em class="fa fa-instagram"></em></a></li>
                                    <li><a target="_blank" href="https://github.com/electronero/"><em class="fa fa-github"></em></a></li>
                                    <li><a target="_blank" href="https://www.reddit.com/user/electronero_official"><em class="fa fa-reddit"></em></a></li>
                                    <li><a target="_blank" href="https://discord.gg/4ceEk"><em class="fa fa-discord"></em></a></li>

                                    -->
                                         				<li><a target="_blank" href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>
									<li><a target="_blank" href="https://twitter.com/_electronero"><em class="fab fa-twitter"></em></a></li>
									<li><a target="_blank" href="https://instagram.com/electronero"><em class="fab fa-instagram"></em></a></li>
									<li><a target="_blank" href="https://github.com/electronero/"><em class="fab fa-github"></em></a></li>
									<li><a target="_blank" href="https://www.reddit.com/r/Electronero_official/"><em class="fab fa-reddit"></em></a></li>
									<li><a target="_blank" href="https://discord.gg/Pxtepg"><em class="fab fa-discord"></em></a></li>

                                </ul>
                            </div>
                        </div><!-- .col  -->
                        <div class="col-lg-5 offset-lg-1 col-md-12">
                            <div class="countdown-box countdown-header text-center">
                                <span class="extra-line"></span>
                                <div class="token-countdown d-flex align-content-stretch" data-date="2018/05/11"></div>
                            </div>
                        </div><!-- .col  -->
                    </div><!-- .row  -->
                </div><!-- .banner-content  -->
            </div><!-- .container  -->
        </div>
        <!-- End Banner/Slider -->
    </header>
    <!-- End Header -->

    <div class="container">

       <%- content %>
    </div><!-- /.container -->

    <!-- Start Section -->
    <div class="section section-pad section-bg-alt" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title">Contact Us
                            <!--<span>Contact</span>-->
                        </h2>
                        <p>Any question? Reach out to us and we’ll get back to you shortly.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <ul class="contact-info" align="center">
                        <li><em class="fab fa-twitter"></em><a href="https://twitter.com/_electronero"><span>Tweet @_electenero</span></a></li>
                        <li><em class="fa fa-envelope"></em><a href="mailto:electronerodev@gmail.com"><span>Send ETNX an Email</span></a></li>
                        <li><em class="fab fa-telegram"></em><a href="https://t.me/electronero"><span>Join ETNX on Telegram</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form id="contact-form" class="form-message text-center" action="contact/send" method="post">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="name" type="text" class="input-line form-control required">
                            <label for="name" class="input-title">Your Name</label>
                        </div>
                        <div class="input-field">
                            <input name="email" type="email" class="input-line form-control required email">
                            <label for="email" class="input-title">Your Email</label>
                        </div>
                        <div class="input-field">
                            <textarea name="message" type="text" class="txtarea input-line required"></textarea>
                            <label for="message" class="input-title">Your Message</label>
                        </div>
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <div class="input-field">
                            <button type="submit" onclick="setTimeout(formSubmit, 1000)" class="slideOut btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section subscribe-section section-pad-md section-bg section-connect">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 offset-md-3">
                    <h4 class="section-title-md">Don't miss out, Stay updated</h4>
                    <form id="subscribe-form" action="contact/subscribe" method="post" class="subscription-form inline-form">
                        <input type="email" name="email" class="input-round form-control required email" placeholder="Enter your email address" >
                        <input type="text" class="d-none" name="form-anti-honeypot" value="">
                        <button type="submit" onclick="setTimeout(subSubmit, 1000)" class="slideOut btn btn-plane">Subscribe</button>
                        <div class="subscribe-results"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Start Section -->
    <div class="section footer-scetion no-pt section-pad-sm section-bg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <ul class="social">
                        <!--
                        <li><a target="_blank" href="#"><em class="fa fa-facebook"></em></a></li>
                        <li><a target="_blank" href="https://twitter.com/_electronero"><em class="fa fa-twitter"></em></a></li>
                        <li><a target="_blank" href="https://instagram.com/electronero"><em class="fa fa-instagram"></em></a></li>
                        <li><a target="_blank" href="http://github.com/electronero/"><em class="fa fa-github"></em></a></li>
                        <li><a target="_blank" href="#"><em class="fa fa-reddit"></em></a></li>
                        <li><a target="_blank" href="https://discord.gg/4ceEk"><em class="fa fa-discord"></em></a></li>
                        <li><a target="_blank" href="https://t.me/electronero"><em class="fa fa-telegram"></em></a></li>
                        -->
                        <li><a target="_blank" href="https://www.facebook.com/etxofficial"><em class="fab fa-facebook"></em></a></li>
						<li><a target="_blank" href="https://twitter.com/_electronero"><em class="fab fa-twitter"></em></a></li>
						<li><a target="_blank" href="https://instagram.com/electronero"><em class="fab fa-instagram"></em></a></li>
						<li><a target="_blank" href="http://github.com/electronero/"><em class="fab fa-github"></em></a></li>
						<li><a target="_blank" href="https://www.reddit.com/user/electronero_official/"><em class="fab fa-reddit"></em></a></li>
						<li><a target="_blank" href="https://discord.gg/Pxtepg"><em class="fab fa-discord"></em></a></li>
						<li><a target="_blank" href="https://t.me/electronero"><em class="fab fa-telegram"></em></a></li>

                    </ul>
                    <span class="copyright-text">
                        Copyright &copy; 2018, Electronero.
			As seen on <a href="https://themerkle.com/electroneum-hard-fork-electronero-combines-features-from-different-cryptonote-currencies/"><img width="30px" height="30px" src="/images/the-merkle.png" /></a> & <a href="http://www.bitcoininsider.org/article/24743/electroneum-hard-fork-electronero-combines-features-different-cryptonote-currencies"><img width="30px" height="30px" src="/images/bitcoin-insider.png" /></a>
                        <span>All trademarks and copyrights belong to their respective owners. </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->

    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->

    <!-- JavaScript (include all script here) -->
    <script src="/assets/js/jquery.bundle.js?ver=113"></script>
    <script src="/assets/js/script.js?ver=113"></script>

    <!-- form validation animations -->
    <script src="/assets/js/formchecker.js"></script>

</body>
</html>
