<%# views/may-25-2018.ejs %>

<% extend('blog_layout') %>

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
						</br>
						</br>
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/exchange-announcement-may-25-2018">25 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/exchange-announcement-may-25-2018">The Electronero Launch & Testnet Recap</a></h3>
						<p>First of all, the Electronero team would like to thank all parties involved in the testnet including our mining partners, mobile mining testers and the rest of the community. Thanks to your support we are now preparing for our mainnet launch and would like to express our gratitude in the beginning of this adventure.
On May 11th, Electronero developers successfully rolled out the ETNX testnet fabric. A pure display of the new technology and advancements Electronero has to offer to the community. Since inception, the Electronero developers have been working with ETNX Pool Operators and Mining Advisors who have been contributing efforts to support the cause of the upcoming hard fork. 
As a priority, Electronero developers have been monitoring the difficulty adjustment algorithm, or DAA for short, and verifying that future blocks are generated on target.
The Electronero (ETNX) hard fork and blockchain snapshot is set to occur at block 307,000 (Approximately May 29th). After block 307,000 is mined the debut of the Electronero Mainnet network, mining pools, and releasing the wallets and source code so that you can claim your ETNX if you own ETN.
For all of you who have moved funds to a paper wallet, please make sure that you WAIT until block 307,001 when the snapshot is taken to move your coins back to your web/mobile wallet; you will then be able to download our open-source wallet and claim your ETNX knowing that your ETN coins are safely stored in another location. Our snapshot will have “memory” of your coins in that paper wallet at block 307,000.
For those of you who have NOT moved funds to a paper wallet, you will be able to get your ETNX on Altex as they will be supporting the fork and you will get 1 ETNX for each ETN that you own.
Altex - fast, simple and stable cryptocurrency exchange.</p>

<p>Read this official Electronero update on Medium <a href="https://medium.com/@electronero/the-electronero-launch-testnet-recap-f280ea04297b"><img width="20%" height="20%" src="https://image.ibb.co/co6X1T/medium.png" /></a></p>

<p>Altex is designed to be fast, simple and stable. You have never traded your Altcoins faster!</p>
<a href="https://altex.exchange">altex.exchange</a>
<p>We are in the process of adding more exchanges, and we will be keeping all of you posted as we go and get more confirmations, we will NOT be disclosing pending applications or partnerships in progress to avoid hype as we want the community to only be faced with FACTS, not future potential outcomes.</p>
<p>This is only the beginning of an amazing adventure towards decentralization and mass adoption!</p>

<p>The Electronero Team.</p>

										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
