code {
    white-space: pre-wrap;
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.2rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    text-indent: 0;
    line-height: 1.1rem;
}

pre.highlight {
    background-color: #fff1e8;
    color: #2f6f9f;
    padding: 0.7rem;
    border-radius: 0.2rem;
    text-indent: -6px;
}

pre.highlight>code {
    background-color: none;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: yellow; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dbef02; 
}
