<%# views/blog/may-16-2018.ejs %>

<% extend('../layouts/blog_layout') %>

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
						</br>
						</br>
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/lwma-difficulty-adjustment-algorithim-may-16-2018">16 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/lwma-difficulty-adjustment-algorithim-may-16-2018">Electronero Implemented LWMA difficulty algo from Zawy : LWMA on ETNX blockchain post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development. </p>
            <p>Electronero developer implemented Zawy’s LWMA Difficulty Adjustment Algorithm to protect the blockchain against hash attacks and which saves us from future blockchain freeze. 
ZAWY is a known blockchain theorist and mathemetician. Electronero developers followed along closely with ZAWY and having key talks with ZAWY at certain times making changes to the consensus under his advisement <a href="https://github.com/zawy12/difficulty-algorithms/issues/3">SOURCE</a> All the while learning more about the Difficulty Adjustment Algorithim, aka DAA. The Electronero DAA is adjusted to the lower weighted harmonic means algo. "This is the best algorithm because it has the fastest response for a given amount of stability." - ZAWY 
</p>

										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
