<%# views/may-20-2018.ejs %>

<% extend('layouts/blog_layout') %>

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
						</br>
						</br>
							<h2 class="page-heading">ELECTRONERO NEWS</h2>
						</div>
					</div>
					<div class="page-head-image">
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
						<img src="" alt="">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="//electronero.org/blog/camel-emissions-may-20-2018">20 MAY, 2018</a></li>
						</ul>
						<h3 class="blog-title"><a href="//electronero.org/blog/camel-emissions-may-20-2018">Electronero Implemented Camel Emissions from Sumokoin on ETNX blockchain post hard fork</a></h3>
						<p>Recently we celebrated  some achievements in the Electronero blockchain development.</p>
						<p>Electronero developers have taken into consideration not only the latest techonlogy from Monero updates when coding the final versions of Electronero before the main net launch. ETNX is was developed with multiple new features and combined aspects from several known cryptonotes. With inspiration from Sumokoin...Electronero implemented the Camel Emissions, which consist of steady block rewards, increasing every 6 months until peaking on year 4, and decreasing every 6 months thereafter until reaching tail emission state. </p>

										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>

				</div><!-- .col -->

					</div><!-- .sidebar-section -->

				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
