<%# views/electronero-tools.ejs %>

<% extend('layouts/blog_layout') %>

    <!-- Banner -->
    <div id="header" class="page-banner d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-head">
              <h2 class="page-heading">ELECTRONERO TOOLS</h2>
            </div>
          </div>
          <div class="page-head-image">
          </div>
        </div>
      </div><!-- .container  -->
    </div>
    <!-- End Banner -->
  </header>
  <!-- End Header -->


  <!-- Start Section -->
  <div class="section section-pad-md section-bg-alt blog-section" id="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-content">
            <div class="blog-photo">
            <img src="" alt="">
            </div>
            <ul class="blog-meta">
              <li><span>Posted</span><a href="/">7 MAY, 2018</a></li>
            </ul>
            <h3 class="blog-title"><a href="/"><p>Electronero Tools</p> 
            <p>Last revised: May 7th, 2017(forked from Monero)</a></p></h3>
            <p>  

<p>
<b>Electronero Tools</b>
<p>
These tools are provided by community members. Coming soon . . . 
</p>


                 </div>
               </div>
            </div>
          </div>
        </div><!-- .col -->
      </div><!-- .sidebar-section -->
